.loginBox{

  text-align:center;
  width:500px;
  height:400px;
  margin-left:80px;
  margin-top:200px;
  
  box-shadow:5px 5px 20px #1a1a1a;
}

p{
  color: white;
  margin-bottom:0;
  margin-right:130px;
  margin-top:30px;
}
input{
  border:none;
  background-color: #1a1a1a;
  padding-right:40px;
  outline:none;
  color:white;
}


.emailText{
  margin-right:170px;
}
.error{
  font-size:13px;
  color:red;
  text-align: center;
  margin-left:125px;
  margin-top:5px;
  margin-bottom:20px; 
}
.noError{
  font-size:13px;
  color:green;
  text-align: center;
  margin-left:125px;
  margin-top:5px;
  margin-bottom:20px;
}
.newUserMsg{
  font-size:13px;
  
  text-align: center;
  margin-left:125px;
  margin-top:5px;
  margin-bottom:20px;
}
.newUserLink{
  text-decoration:none;
  color:blue;
  margin-left:5px;
}
.userNameText{
  margin-right:140px;
}