div{
  text-align: center;
  background-color:black;
  box-shadow:5px 5px 10px black;
}
.signIn{
  background-color:#0cd61a;
  border-radius:4px;
  padding-left:14%;
  padding-right:15%;
  margin-top:4%;
}
.google{
  background-color:hsl(102.5,89.4%,54.4%);
  border-radius:4px;
  padding-left:14%;
  padding-right:15%;
  
}
.microsoft{
  background-color:hsl(102.5,89.4%,54.4%);
  border-radius:4px;
  padding-left:14%;
  padding-right:15%;
  margin-top:5%;
  
}
input{
  margin-top:5px;
  border-radius:4px;
  
}
.email{
  color:white;
  margin-right:15%;
  margin-bottom:0;
}
.pass{
  margin-right:22%;
  margin-top:4%;
  margin-bottom:0;
}

p{
  color:white;
}
.passInput:hover{
  animation-name :glow;
  animation-duration:3s;
}
.emailInput:hover{
  animation-name :glow;
  animation-duration:3s;
}
@keyframes glow{
  50%{box-shadow:0px 0px 20px blue};
}
h2{
  color:white;
}
