div{
  text-align:center;
}
button{
  background-color: hsl(116.6,95%,49.1%);
  padding:2%;
  border-radius:7px;
}
input{
  background-color: white;
  padding:2%;
  border-radius:7px;
}
li{
  width:73%;
  background-color: white;
  padding:2%;
  border-radius:7px;
  margin-left:8%;
  margin-bottom: 4%;
  box-shadow: 6px 6px 10px black;
}