div{
  text-align: center;
}
p{
  font-size: 4em;
  margin-bottom: 0%;
}
button{
  background-color: hsl(184.8,79.4%,50.6%);
  color:white;
  margin:5px;
  border-radius:5px;
  padding:5px;
  margin-top:5%;
}